body {
  height: 100%;
}

#root {
  height: 100%;
}

.segment {
  height: 100%;
}


.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputField {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.errorMessage {
  margin-top: 0 !important;  
}

.tableContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.icon {
  margin: 0 !important;
}

.radioLabelGroup {  
  flex-direction: column !important;
  align-items: center !important;  
  padding: 0 1em 0 1em !important;
  margin-bottom: 0 !important;
}

td {
  text-align: center !important;
}

.operatorLogoContainer {
  display: flex;
  justify-content: center;
}