body {
  height: 100%;
}

#root {
  height: 100%;
}

.segment {
  height: 100%;
}


.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputField {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.errorMessage {
  margin-top: 0 !important;  
}

.tableContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}